//- переменные

- var testListContent = ['Item1', 'Item2', 'Item3'];
-
    var featureArr = [
        {
            'icon': 'eye1',
            'title': '<b>HDR</b> display',
            'desc': 'Получите более широкий и комфортный для восприятия диапазон цветовой гаммы, чем в обычных мониторах.'
        },
        {
            'icon': 'eye2',
            'title': '<b>Input</b> lag',
            'desc': 'Мониторы с технологией G-SYNC обеспечивают минимальную задержку между нажатием клавиш и результатом на экране, что очень важно для геймеров.'
        },
        {
            'icon': 'eye3',
            'title': '<b>High refresh</b> rate',
            'desc': 'NVIDIA тесно сотрудничает с производителями мониторов, чтобы вывести на рынок широкий спектр дисплеев с высокой частотой обновления экрана от 75 до 360 Гц.'
        },
        {
            'icon': 'eye4',
            'title': '<b>Wide color</b> gamut',
            'desc': 'Современные мониторы G-SYNC ULTIMATE поддерживают цветовой охват DCI-P3, обеспечивая более реалистичную цветопередачу с плавными переходами.'
        }
    ]