header.header
	.container
		.header__wrap
			a.logo(href='/')
				include ../../img/icons/logo.svg
			.header__nav
				block nav
					include ../blocks/nav
			.header__social.socials
				a.social.social--twitter(href="https://twitter.com")
					include ../../img/icons/tw.svg
				a.social.social--inst(href="https://instagram.com")
					include ../../img/icons/inst.svg
			.hamburger.js-hamburger
				.hamburger__line
				.hamburger__line
				.hamburger__line