.features {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    .features__item {
        flex: 1;
        flex-basis: 255px;
        margin: 0 15px 48px;

        @include media-breakpoint-up(md) {
            margin-bottom: 50px;
        }

        &:hover {
            //svg {
            //    path {
            //        stroke: $primary;
            //        fill: rgba(119, 185, 0, 0.25);
            //    }
            //}

            .eye1 {
                background: url(/specification/img/icons/eye1_hover.svg) no-repeat 100% 100%;
            }

            .eye2 {
                background: url(/specification/img/icons/eye2_hover.svg) no-repeat 100% 100%;
            }

            .eye3 {
                background: url(/specification/img/icons/eye3_hover.svg) no-repeat 100% 100%;
            }

            .eye4 {
                background: url(/specification/img/icons/eye4_hover.svg) no-repeat 100% 100%;
            }
        }
    }

    &__icon {
        display: flex;
        justify-content: center;
        width: 160px;
        height: 90px;
        margin: 0 auto 30px;

        &.eye1 {
            background: url(/specification/img/icons/eye1.svg) no-repeat 100% 100%;

            &:before {
                content: '';
                visibility: hidden;
                background: url(/specification/img/icons/eye1_hover.svg) no-repeat 100% 100%;
            }
        }

        &.eye2 {
            background: url(/specification/img/icons/eye2.svg) no-repeat 100% 100%;

            &:before {
                content: '';
                visibility: hidden;
                background: url(/specification/img/icons/eye2_hover.svg) no-repeat 100% 100%;
            }
        }

        &.eye3 {
            background: url(/specification/img/icons/eye3.svg) no-repeat 100% 100%;

            &:before {
                content: '';
                visibility: hidden;
                background: url(/specification/img/icons/eye3_hover.svg) no-repeat 100% 100%;
            }
        }

        &.eye4 {
            background: url(/specification/img/icons/eye4.svg) no-repeat 100% 100%;

            &:before {
                content: '';
                visibility: hidden;
                background: url(/specification/img/icons/eye4_hover.svg) no-repeat 100% 100%;
            }
        }

        //svg {
        //    path {
        //        transition: all .3s ease;
        //        stroke: $white;
        //        fill: transparent;
        //    }
        //}
    }

    &__title {
        text-transform: uppercase;
        margin-bottom: 12px;
        text-align: center;
        font-weight: 400;

        @include media-breakpoint-up(md) {
            text-align: start;
        }

        b {
            color: $primary;
            font-weight: 700;
        }
    }

    &__desc {

    }
}