.hero {
    min-height: 100vh;
    padding: 116px 0 60px;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%), url(/specification/img/bg.jpg) no-repeat;
    background-size: 100% 100%;

    @include media-breakpoint-up(md) {
        background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%), url(/specification/img/bg2.jpg) no-repeat;
        background-size: cover;
        padding-top: 150px;
    }

    &__title {
        text-transform: uppercase;
        margin-bottom: 20px;
        text-align: center;
    }

    &__text {
        margin: 0 auto 50px;
        text-align: center;
        max-width: 730px;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        .btn {
            width: 100%;
            min-width: 192px;

            @include media-breakpoint-up(md) {
                width: unset;
            }
        }
    }
}