mixin feature(arr)
    .features(class!=attributes.class)
        each item in arr
            .features__item
                .features__icon(class=item.icon)
                    //+svg(item.icon)
                h3.features__title!= item.title
                .features__desc= item.desc

mixin svg(icon)
    case icon
        when 'eye1'
            include ../../img/icons/eye1.svg
        when 'eye2'
            include ../../img/icons/eye2.svg
        when 'eye3'
            include ../../img/icons/eye3.svg
        when 'eye4'
            include ../../img/icons/eye4.svg