section.hero
    .container
        h1.heading-h3.hero__title Преимущества G-SYNC

        .hero__text Каждый монитор с технологией G-SYNC проходит серьезное тестирование и контроль качества для обеспечения максимальной производительности. Сотни мониторов проходят контроль качества, но только прошедшие все тесты получают сертификацию G-SYNC.

        +feature(featureArr)(class='hero__features')
        .hero__button
            +button('Купить', href="#helloModal")(data-toggle="modal")