.button {
	@include font-size(18px);
	font-family: $btn-font-family;
	font-weight: $headings-font-weight;
}

.btn,
button {
	@extend .button;

	position: relative;
	align-items: center;
	justify-content: center;
	display: flex;
	height: 56px;
	min-width: 64px;
	padding: 17.5px 44px;
	line-height: 1.16;
	letter-spacing: 0.25px;
	color: $white;
	text-transform: uppercase;
	border: 2px solid transparent;
	outline: none;
	background: transparent;
	transition: border .12s ease, color .3s ease, background-color .3s ease, box-shadow .2s ease, opacity .8s, transform .8s;
	cursor: pointer;

	& + .btn {
		margin-left: 32px;
	}

	&:hover {
		color: #fff;
	}

	&--fill {
		background: $primary;

		&:hover {
			background: $black;
			border-color: $primary;
			box-shadow: 0 0 10px $primary;
		}
	}

	span {
		white-space: nowrap;
	}
}