.heading {
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
}

h1,
.heading-h1 {
	@extend .heading;
	font-size: 42px;
	line-height: 1.57;
}

h2,
.heading-h2 {
	@extend .heading;
	font-size: 33px;
	line-height: 1.6;
}

h3,
.heading-h3 {
	@extend .heading;
	font-size: 26px;
	line-height: 1.384;
	letter-spacing: 0.25px;
}

h4,
.heading-h4 {
	font-family: $font-family-base;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.7;
	letter-spacing: 0.25px;
}