.input{
    transition: background-color .15s ease, border .15s ease;
    padding: 14px 20px;
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-color: #fff;
    border: 1px solid transparent;
    color: $black;
    &::placeholder {
        opacity: 1;
        color: $black;
    }
    &:hover, &.hover{
        border: 1px solid $primary;
    }
    &:focus{
        border: 1px solid $primary;
    }


}

.form-group {
    & + .form-group {
        margin-top: 20px;
    }
}