.modal-dialog {
    max-width: 540px;
    //margin: auto;
    //height: 100%;
    //display: flex;
    //align-items: center;
    margin: 227px auto 0;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    padding: 20px;
    min-width: unset;

    svg path{
        transition: all .3s ease;
    }

    &:hover {
        path {
            stroke: $primary;
        }
    }
}

.modal-title {
    @extend .heading-h3;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

.modal-content {
    padding: 30px 40px;
    box-shadow: 0 0 20px rgba(119, 185, 0, 0.5);

    @include media-breakpoint-up(sm) {
        padding: 45px 65px;
    }

    @include media-breakpoint-up(md) {
        padding: 73px 93px;
    }
}

.modal-body {
    padding: 20px 0;
}

.modal-footer {
    padding: 0;
    justify-content: center;

    .btn {
        width: 100%;
        max-width: 192px;
    }
}