.socials {
    display: flex;
    align-items: center;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    color: #808080;

    &:hover {
        color: $primary;
    }

    svg {
        color: inherit;
        width: 100%;
        height: 100%;

        path {
            fill: currentColor;
        }
    }

    & + .social {
        margin-left: 12px;
    }
}