#helloModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
	.modal-dialog(role='document')
		.modal-content
			.modal-header
				h5#exampleModalLabel.modal-title Преимущества G-sync
				button.modal-close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='true')
						include ../../img/icons/close.svg
			.modal-body
				form
					.form-group
						input.input(placeholder='Имя')
					.form-group
						input.input(placeholder='Mail', type="email")
			.modal-footer
				button.btn.btn--fill(type='button') Купить
