@mixin scrollbars() {
    scrollbar-color: $primary rgba(0, 0, 0, 0) !important;
    scrollbar-width: thin !important;

    &:not([hide-scrollbar]) ::-webkit-scrollbar-thumb {
        background: $primary !important;
    }

    &:not([hide-scrollbar]) ::-webkit-scrollbar {
        width: 8px !important;
    }

    &::-webkit-scrollbar-track {
        background: $black !important;
    }

    &::-webkit-scrollbar-thumb {
        background: $primary !important;
    }

    & {
        scrollbar-face-color: $primary !important;
        scrollbar-track-color: $black !important;
    }
}