// глобальные стили кроме normalize
html {
	@include scrollbars();
}

body {
	letter-spacing: .3px;
}

.container {
	@include make-container();
	@include make-container-max-widths();
}

.no-scroll {
	overflow: hidden;
}

img {
	@include img-fluid();
}

a {
	transition: color .3s ease;
}

.logo {
	display: block;
	width: 45px;
	height: 34px;

	@include media-breakpoint-up(md) {
		width: 81px;
		height: 60px;
	}

	svg {
		width: 100%;
		height: 100%;
	}
}