.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    background: rgba(3, 3, 3, .5);
    backdrop-filter: blur(10px);

    @include media-breakpoint-up(md) {
        height: 90px;
    }

    &--active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $black;
        z-index: 5;
        
        .header__nav {
            position: absolute;
            top: 71px;
            left: 0;
            bottom: 107px;
            width: 100%;
            height: 100%;
            display: block;
            padding-bottom: 118px;
        }

        .header__social.socials {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            padding: 15px 0 43px;
            display: flex;
            justify-content: center;
            background: $black;
        }
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: start;
        margin: 0 -15px 0 0;
        height: 100%;

        @include media-breakpoint-up(md) {
            margin: 0;
        }
    }

    &__nav {
        display: none;

        @include media-breakpoint-up(md) {
            display: block;
            margin-left: 14px;
        }
    }

    &__social.socials {
        display: none;

        @include media-breakpoint-up(md) {
            display: flex;
        }
    }

    &__social,
    .hamburger {
        margin-left: auto;
    }
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow-y: scroll;
    @include scrollbars();


    @include media-breakpoint-up(md) {
        display: flex;
        flex-direction: row;
        overflow-y: hidden;
    }

    a {
        display: inline-block;
        text-transform: uppercase;
        white-space: nowrap;
        padding: 14px 0;
        width: 100%;
        text-align: center;

        @include media-breakpoint-up(md) {
            padding: 31px 24px;
        }
    }
}

.hamburger {
    width: 56px;
    height: 56px;
    cursor: pointer;
    transition: background-color .1s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;

    @include media-breakpoint-up(md) {
        display: none;
    }

    &__line {
        height: 2px;
        width: 25px;
        background: #fff;
        margin: 2px 0;
        border-radius: 1px;
    }

    &:hover {
        background: $primary;
    }
}